
<div class="no-row no-gutter text-center">
    <div class="col-xs-12 ">
        <div class="no-row no-gutter text-center">
            <div class="col-xs-6 "><img src="../../assets/images/empty2.PNG" alt="pizza"></div>
            <div class="col-xs-6"><img class="text-center" src="../../assets/images/empty1.PNG" alt="Burger"></div>
        </div>
        <h4 class="homeMargin">{{ errorMessage }}</h4>
        <h4 class="homeMargin">Kindly click below Reicpes link to show list of currently available recipes</h4>
        <a class="nav-link " id="recipes-tab" data-toggle="tab" routerLinkActive="active" 
         routerLink="/recipes" role="tab" aria-controls="recipes" aria-selected="false">
         <strong>Click me for your delicious Recipes</strong></a>
       

    </div>
</div>
