<div class="row">
  <div class="col-12">
    <img [src]="recipe.imagePath"
    alt="{{ recipe.name }}"
    style="max-height: 500px; max-width: 600px">
  </div>
</div>
<div class="row">
  <div class="col-12">
    <h1>{{ recipe.name }}</h1>
  </div>
</div>

<div class="dropdown appDropdown">
  <button style="background-color: blue" class="btn btn-secondary dropdown-toggle" 
  data-toggle="dropdown" type="button" id="dropdownMenuButton" aria-expanded="false">
    Manage Recipe
  </button> 
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <a class="dropdown-item" (click)="onSelectManageRecipe()" style="cursor: pointer">To Shopping List</a>
    <a class="dropdown-item"style="cursor: pointer" (click)="onSelectEditRecipe()">Edit Recipe</a>
    <a class="dropdown-item" style="cursor: pointer"
    (click) ="onDeleteRecipe()">Delete Recipe</a>
  </div>
  <!-- authService.isNotAuthenticated -->

</div>

<div class="row">
  <div class="col-12">
    {{ recipe.description }}
  </div>
</div>
<div class=".row .no-gutter">
  <div class="col-12">
    <ul class="list-group">
      <li
        class="list-group-item"
        *ngFor="let ingredient of recipe.ingredients">
        {{ ingredient.name }} - {{ ingredient.amount }}
      </li>
    </ul>
  </div>
</div>











