<footer>
  <div class="container">
      <div class="row">
          <div class="col-sm">
              <div class="title">
                  <h3>Payment &amp; Delivery</h3>
              </div>
              <ul class="nav flex-column">
                  <li class="nav-item">
                      <a class="nav-link active" routerLink="/terms-conditions">
                         <h6>  Terms &amp; Conditions</h6>
                      </a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" routerLink="/shipping-returns">
                          <h6>Shipping &amp; Returns</h6>
                      </a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" routerLink="/privacy-policy">
                          <h6>Privacy Policy</h6>
                      </a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" routerLink="#">
                         <h6> Ways to Pay</h6>
                      </a>
                  </li>
              </ul>
          </div>
          <div class="col-sm">
              <div class="title">
                  <h3>Help &amp; Support</h3>
              </div>
              <ul class="nav flex-column">
                  <li class="nav-item">
                      <a class="nav-link active" routerLink="/faqs">
                          <h6>Frequently Asked Questions</h6>
                      </a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" routerLink="#">
                          <h6>Size Chart</h6>
                      </a>
                  </li>
              </ul>
          </div>
          <div class="col-sm">
              <div class="title">
                  <h3>Free Delivery</h3>
              </div>
              <ul class="nav flex-column">
                  <li class="nav-item">
                      <a class="nav-link active" routerLink="/about-us">
                        <h6>About Maja Recipes</h6>
                      </a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="#">
                          <h6>Newly Added Recipe</h6>
                      </a>
                  </li>
                  
              </ul>
          </div>
          <div class="col-sm">
              <div class="title">
                 <h3> Contact Info</h3>
                 
              </div>
               <ul class="nav flex-column">
                  <li class="nav-item">
                      <a class="nav-link active" routerLink="/contact-us">
                         <h6> Contact Us</h6>
                      </a>
                  </li>
                 
              </ul>
          </div>
      </div>
      
      <div class="row text-center so">
    <div class="col-md-12" >
          <section id="partners" class="padded d-flex justify-content-center" style = "cursor: pointer">
           
                     
             <a href="https://www.facebook.com/Asoiyi/" style="margin-right: 20px; color: #00ACED"> <i class="fa fa-facebook-square fa-3x"></i></a>
              
             <a href="https://www.instagram.com/temitopeolabanji/" style="margin-right: 20px; "> <i class="fa fa-instagram fa-3x" style="color:#6238E0" ></i></a>
              
             <a href="https://twitter.com/temmyproperty" style="margin-right: 20px"> <i class="fa fa-twitter fa-3x" style=" color: #00ACED"></i></a>
             <a href="https://www.linkedin.com/in/alabi-temitope-aa036b103" style="margin-right: 20px; color: white; "> <i class="fa fa-linkedin-square fa-3x" ></i></a>
                
            </section>
              
              
              
    </div>
    
    

      </div>
      <br>
      <div class="row text-center">
        <div class="col-md-12">
          <p class="title">© Copyright 2018. All Rights Reserved.</p>
        </div>
      </div>
  </div>
</footer>



          